
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    color: brown;
}
ul, li {
    list-style: none;
}

img{
    margin: auto;
    display: block;
    border: 2px solid brown;
}
h2, li, p, a{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 text-align: center;
}
li, p {
    background-color: antiquewhite;
    color: brown;
}

h2 {
    background-color: brown;
    color: antiquewhite;
}
li {
    margin-left: -40px;
}
a {
    color:antiquewhite;
    background-color: brown;
    padding: 5px;
    display: block;
    font-size: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}